*{
    box-sizing: border-box;
}

.articleWrapper{
     display: flex; 
     flex-wrap: wrap;
}

.articleItemWrapper{
    float:left; 
    width: calc(100% / 3); 
    display: flex;
}

.articleItem{
    border: 1px solid black; 
    margin: 10px; 
    padding: 10px;
}

.articleItem h2{
    font-size: 27px;
}

.content{
    margin-top: 10px;
}


@media (max-width: 767px){
    .articleItemWrapper{
        width: 100%;
    }
}