{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Delete %article% article'|trans({'%article%': item}) }}{% endblock %}
{% block body %}
    <div>
        <p class="alert alert-danger">{{ 'Do You really want to delete this article?'|trans }}</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
