{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Read %article% article'|trans({'%article%': item}) }}{% endblock %}
{% block body %}
    <p>
       <em>{{ 'Author'|trans }}: {{ item.author }}</em><br>
       <em>{{ 'Date'|trans }}: {{ item.date|date }}</em>
    </p>
    <p>
       {{ item.content }}
    </p>
{% endblock %}
