{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Latest articles'|trans }}{% endblock %}
{% block body %}
    <script>
        function shorten(text, length){
            document.write(text.trim().substr(0,length).trim()+'...');
        }
    </script>
    <div class="articleWrapper">
        {% if items is not empty %}
            {% for item in items | slice(0,3) %}
                <div class="articleItemWrapper">
                    <div class="articleItem">
                        <h2>{{ item.title }}</h2>
                        <div class="date">{{ item.date|date }}</div>
                        <div class="author"><em>{{ item.author }}</em></div>    
                        <div class="content"><script>shorten('{{ item.content }}', 200)</script></div>
                    </div>
                </div>              
            {% endfor %}
        {% else %}
            <div class="alert alert-primary" role="alert">
                {{ 'There are no articles'|trans }}
            </div>
        {% endif %}
        <div class="clearfix">
    </div>
{% endblock %}
