{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Update %article% article'|trans({'%article%': item}) }}{% endblock %}
{% block body %}
    <div>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
